<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.process.xboot.mapper.BillMapper">

  <select id="findBills" resultType="com.process.xboot.entity.Bill">
    select *
    from leaf.leaf_bill
    order by id
  </select>
</mapper>
